{% extends 'main.html' %}

{% block title %}设备详情{% endblock %}

{% block style %}
{% endblock %}

{% block content %}

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <form id="search" method="get" class="navbar-form navbar-left col-md-6 col-sm-6 col-xs-12"
                  style="border: none;">
                <div class="input-group">
                    <input type="text" id="keywords" name="keywords" class="form-control" placeholder="搜索设备信息">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">搜索</button>
                    </span>
                </div>
            </form>

            <form method="get" class="navbar-form navbar-left col-md-6 col-sm-6 col-xs-12" style="border: none;">
                <div class="input-group">
                    <select class="form-control" name="category" id="category">
                        <option value="equ_id">设备ID</option>
                        <option value="use_date">领取时间</option>
                        <option value="revert_date">归还时间</option>
                    </select>
                    <span class="input-group-btn">
                        <button name="mode" value="positive" class="btn btn-default" type="submit">正序</button>
                    </span>
                    <span class="input-group-btn">
                        <button name="mode" value="negative" class="btn btn-default" type="submit">倒序</button>
                    </span>
                </div>
            </form>
        </div>
    </nav>

    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>#</th>
                <th>设备名称</th>
                <th>档案编号</th>
                <th>设备编号</th>
                <th>设备型号</th>
                <th>设备负责人</th>
                <th>保管人</th>
                <th>所在部门</th>
                <th>设备状态</th>
                <th>计量有效期</th>
                <th>设备类型</th>
                <th>使用记录</th>
                <th>操作</th>
            </tr>
            {% for equ in equs %}
                <tr>
                    <td>{{ equ.id }}</td>
                    <td>{{ equ.equ_name }}</td>
                    <td>
                        {% if equ.file_num %}
                            {{ equ.file_num }}
                        {% else %}
                            未填写
                        {% endif %}
                    </td>
                    <td>
                        {% if equ.number %}
                            {{ equ.number }}
                        {% else %}
                            未填写
                        {% endif %}
                    </td>
                    <td>
                        {% if equ.equ_num %}
                            {{ equ.equ_num }}
                        {% else %}
                            未填写
                        {% endif %}
                    </td>
                    <td>
                        {% if equ.equ_person %}
                            {{ equ.equ_person }}
                        {% else %}
                            未设置
                        {% endif %}
                    </td>
                    <td>
                        {% if equ.equ_staff %}
                            {{ equ.equ_staff }}
                        {% else %}
                            仓库
                        {% endif %}
                    </td>
                    <td>
                        {% if equ.department %}
                            {{ equ.department }}
                        {% else %}
                            仓库
                        {% endif %}
                    </td>
                    <td>
                        {% if equ.equ_status %}
                            {{ equ.equ_status }}
                        {% else %}
                            未填写
                        {% endif %}
                    </td>
                    <td>
                        {% if equ.effect_date %}
                            {{ equ.effect_date }}
                        {% else %}
                            未填写
                        {% endif %}
                    </td>
                    <td>
                        {% if equ.equ_type %}
                            {{ equ.equ_type }}
                        {% else %}
                            未填写
                        {% endif %}
                    </td>
                    <td>
                        <form id="{{ equ.id }}" method="get" action="{% url 'equ:use_record' %}">
                            <input type="hidden" name="equipment_id" value="{{ equ.id }}">
                        </form>
                        <a href="javascript:$('#'+{{ equ.id }}).submit();">查看</a></td>
                    <td><a href="{% url 'equ:edit' equ.id %}">编辑</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <a href="{% url 'equ:add' %}" role="button" class="btn btn-primary btn-block">添加新设备</a>

{% endblock %}



