{% extends 'main.html' %}

{% block title %}设备领用{% endblock %}

{% block style %}
{% endblock %}

{% block content %}

    <form class="form-horizontal" method="post" action="{% url 'equ:equ_use' %}">

        <!-- 设备信息 -->
        <input type="hidden" id="equ_id" name="equ_id" value="{{ equ.id }}">
        <!-- 当前用户 -->
        <input type="hidden" id="person_id" name="person_id" value="{{ request.user.id }}">
        <!-- 设备负责人 -->
        <input type="hidden" id="equipment_person_id" name="equipment_person_id" value="{{ equ.get_person.person.id }}">

        <div class="form-group">
            <label for="equ_name" class="col-md-2 col-sm-2 control-label required">设备名称：</label>
            <div class="col-md-5 col-sm-10">
                <input type="text" class="form-control" id="equ_name" name="equ_name" placeholder="设备名称"
                       value="{{ equ.equ_name }}" required disabled>
            </div>
        </div>

        <div class="form-group">
            <label for="person" class="col-md-2 col-sm-2 control-label required">申请人：</label>
            <div class="col-md-5 col-sm-10">
                <input type="text" class="form-control" id="person" name="person" placeholder="申请人"
                       value="{{ request.user.name }}" required disabled>
            </div>
        </div>

        <div class="form-group">
            <label for="type" class="col-md-2 col-sm-2 control-label required">申请类型：</label>
            <div class="col-md-5 col-sm-10">
                <select class="form-control" id="type" name="type" required disabled>
                    <option value="0" selected>
                        领用
                    </option>
                    <option value="1">
                        归还
                    </option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="use_date" class="col-md-2 col-sm-2 control-label required">领用时间：</label>
            <div class="col-md-5 col-sm-10">
                <input type="date" class="form-control" id="use_date" name="use_date" placeholder="格式：2017-04-01" required>
            </div>
        </div>

        <div class="form-group">
            <label for="revert_date" class="col-md-2 col-sm-2 control-label required">归还时间：</label>
            <div class="col-md-5 col-sm-10">
                <input type="date" class="form-control" id="revert_date" name="revert_date" placeholder="格式：2017-04-01" required>
            </div>
        </div>

        <div class="form-group">
            <label for="remark" class="col-md-2 col-sm-2 control-label">备注：</label>
            <div class="col-md-5 col-sm-10">
                <input type="text" class="form-control" id="remark" name="remark" placeholder="备注，可不填">
            </div>
        </div>

        {% csrf_token %}

        <button type="submit" class="btn btn-primary col-md-7">确定</button>
    </form>
{% endblock %}




