{% extends 'main.html' %}

{% block title %}设备审核{% endblock %}

{% block style %}

{% endblock %}

{% block content %}

    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>#</th>
                <th>设备名称</th>
                <th>设备状态</th>
                <th>申请人</th>
                <th>申请类型</th>
                <th>领用时间</th>
                <th>归还时间</th>
                <th colspan="2">操作</th>
            </tr>
            {% for equ_apply in equ_applys %}
                <tr>
                    <td>{{ equ_apply.id }}</td>
                    <td>{{ equ_apply.equipment_name }}</td>
                    <td>{{ equ_apply.equipment.equ_status }}</td>
                    <td>{{ equ_apply.person_name }}</td>
                    <td>{{ equ_apply.type }}</td>
                    <td>{{ equ_apply.use_date }}</td>
                    <td>{{ equ_apply.revert_date }}</td>
                    {% if equ_apply.status == '审核中' %}
                        <td>
                            <a data-value="{{ equ_apply.id }}" href="javascript:void(0);" class="agree">同意</a>
                        </td>
                        <td>
                            <a data-value="{{ equ_apply.id }}" href="javascript:void(0);" class="refuse">拒绝</a>
                        </td>
                    {% elif equ_apply.status == '审核通过' %}
                        <td colspan="2">已同意</td>
                    {% elif equ_apply.status == '审核未通过' %}
                        <td colspan="2">已拒绝</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}

{% block js %}
    <script>
        {#同意#}
        $('.agree').click(function () {
            var equ_apply_id = $(this).attr('data-value')
            $.ajax({
                cache: false,
                url: '{% url "equ:agree" %}',
                type: 'POST',
                data: {'equ_apply_id': equ_apply_id},
                async: true,
                dataType: 'json',
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function (data) {
                    $('#msg').text(data.msg)
                    $('a[data-value="' + equ_apply_id + '"]').parent()[1].remove()
                    $('a[data-value="' + equ_apply_id + '"]').parent().text('已同意')
                    setTimeout(function () {
                        $('#msg').text('')
                    }, 10000)
                },
                error: function () {
                    $('#msg').text('出错了')
                }
            })
        })

        {#拒绝#}
        $('.refuse').click(function () {
            var equ_apply_id = $(this).attr('data-value')
            $.ajax({
                cache: false,
                url: '{% url "equ:refuse" %}',
                type: 'POST',
                data: {'equ_apply_id': equ_apply_id},
                async: true,
                dataType: 'json',
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function (data) {
                    $('#msg').text(data.msg)
                    $('a[data-value="' + equ_apply_id + '"]').parent()[1].remove()
                    $('a[data-value="' + equ_apply_id + '"]').parent().text('已拒绝')
                    setTimeout(function () {
                        $('#msg').text('')
                    }, 2000)
                },
                error: function () {
                    $('#msg').text('出错了')
                }
            })
        })
    </script>
{% endblock %}
