{% extends 'main.html' %}

{% block title %}设备审核{% endblock %}

{% block style %}
    <style>
        .glyphicon {
            display: none;
            cursor: pointer;
        }

        .use_date.show_date:hover .glyphicon-wrench,
        .use_date.edit_date:hover .glyphicon-ok-sign,
        .revert_date.show_date:hover .glyphicon-wrench,
        .revert_date.edit_date:hover .glyphicon-ok-sign {
            display: inline-block;
        }
    </style>
{% endblock %}

{% block content %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <form id="search" method="get" class="navbar-form navbar-left col-md-6 col-sm-6 col-xs-12"
                  style="border: none;">
                <div class="input-group">
                    <input type="text" id="keywords" name="keywords" class="form-control" placeholder="搜索设备审核">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">搜索</button>
                    </span>
                </div>
            </form>

            <form method="get" class="navbar-form navbar-left col-md-6 col-sm-6 col-xs-12" style="border: none;">
                <div class="input-group">
                    <select class="form-control" name="category" id="category">
                        <option value="equ_apply_id">设备申请ID</option>
                        <option value="use_date">领取时间</option>
                        <option value="revert_date">归还时间</option>
                        <option value="equipment_name">设备名称</option>
                        <option value="person_name">申请人</option>
                        <option value="equipment_person_id">设备负责人</option>
                        <option value="type">申请类型</option>
                        <option value="status">审核状态</option>
                        <option value="add_time">添加时间</option>
                    </select>
                    <span class="input-group-btn">
                        <button name="mode" value="positive" class="btn btn-default" type="submit">正序</button>
                    </span>
                    <span class="input-group-btn">
                        <button name="mode" value="negative" class="btn btn-default" type="submit">倒序</button>
                    </span>
                </div>
            </form>
        </div>
    </nav>

    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>#</th>
                <th>设备名称</th>
                <th>档案编号</th>
                <th>设备状态</th>
                <th>申请人</th>
                <th>申请类型</th>
                <th>领用时间</th>
                <th>归还时间</th>
                <th colspan="2">操作</th>
            </tr>
            {% for equ_apply in equ_applys %}
                <tr>
                    <td>{{ equ_apply.id }}</td>
                    <td>{{ equ_apply.equipment_name }}</td>
                    <td>{{ equ_apply.equipment.file_num }}</td>
                    <td>{{ equ_apply.equipment.equ_status }}</td>
                    <td>{{ equ_apply.person_name }}</td>
                    <td>{{ equ_apply.type }}</td>
                    <td>
                        <div class="use_date show_date">
                            <span>{{ equ_apply.use_date|date:"Y-m-d" }}</span>
                            {% if equ_apply.status == '审核中' %}
                                <span class="glyphicon glyphicon-wrench"></span>
                            {% endif %}
                        </div>
                        <div class="use_date edit_date hidden">
                            <form action="">
                                <input type="hidden" name="equ_apply_id" value="{{ equ_apply.id }}">
                                <input type="date" name="use_date" value="{{ equ_apply.use_date|date:"Y-m-d" }}">
                                <span class="glyphicon glyphicon-ok-sign"></span>
                            </form>
                        </div>
                    </td>
                    <td>
                        <div class="revert_date show_date">
                            <span>{{ equ_apply.revert_date|date:"Y-m-d" }}</span>
                            {% if equ_apply.status == '审核中' %}
                                <span class="glyphicon glyphicon-wrench"></span>
                            {% endif %}
                        </div>
                        <div class="revert_date edit_date hidden">
                            <form action="">
                                <input type="hidden" name="equ_apply_id" value="{{ equ_apply.id }}">
                                <input type="date" name="revert_date" value="{{ equ_apply.revert_date|date:"Y-m-d" }}">
                                <span class="glyphicon glyphicon-ok-sign"></span>
                            </form>
                        </div>
                    </td>
                    {% if equ_apply.status == '审核中' %}
                        <td>
                            <a data-value="{{ equ_apply.id }}" href="javascript:void(0);" class="agree">同意</a>
                        </td>
                        <td>
                            <a data-value="{{ equ_apply.id }}" href="javascript:void(0);" class="refuse">拒绝</a>
                        </td>
                    {% elif equ_apply.status == '审核通过' %}
                        <td colspan="2">已同意</td>
                    {% elif equ_apply.status == '审核未通过' %}
                        <td colspan="2">已拒绝</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

{% block js %}
    <script>
        {#领用时间 点击进入修改#}
        $('.use_date.show_date .glyphicon-wrench').click(function () {
            $(this).parent().addClass('hidden')
            $(this).parent().next().removeClass('hidden')
        })

        {#领用时间 点击提交修改#}
        $('.use_date.edit_date .glyphicon-ok-sign').click(function () {
            var date = $(this).prev().val()
            var data = $(this).parent().serializeArray()
            var _this = this;

            $.ajax({
                cache: false,
                url: '{% url "equ:change_use_date" %}',
                type: 'POST',
                data: data,
                async: true,
                dataType: 'json',
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function (data) {
                    $('#msg').text(data.msg);
                    $(_this).parent().parent().addClass('hidden')
                    $(_this).parent().parent().prev().removeClass('hidden')
                    $(_this).parent().parent().prev().children()[0].innerText = date
                    setTimeout(function () {
                        $('#msg').text('')
                    }, 10000)
                },
                error: function () {
                    $('#msg').text('出错了')
                }
            })
        })

        {#归还时间 点击进入修改#}
        $('.revert_date.show_date .glyphicon-wrench').click(function () {
            $(this).parent().addClass('hidden')
            $(this).parent().next().removeClass('hidden')
        })

        {#归还时间 点击提交修改#}
        $('.revert_date.edit_date .glyphicon-ok-sign').click(function () {
            var date = $(this).prev().val()
            var data = $(this).parent().serializeArray()
            var _this = this;

            $.ajax({
                cache: false,
                url: '{% url "equ:change_revert_date" %}',
                type: 'POST',
                data: data,
                async: true,
                dataType: 'json',
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function (data) {
                    $('#msg').text(data.msg);
                    console.log($(_this))
                    $(_this).parent().parent().addClass('hidden')
                    $(_this).parent().parent().prev().removeClass('hidden')
                    $(_this).parent().parent().prev().children()[0].innerText = date
                    setTimeout(function () {
                        $('#msg').text('')
                    }, 10000)
                },
                error: function () {
                    $('#msg').text('出错了')
                }
            })
        })

        {#同意#}
        $('.agree').click(function () {
            var equ_apply_id = $(this).attr('data-value')
            $.ajax({
                cache: false,
                url: '{% url "equ:agree" %}',
                type: 'POST',
                data: {'equ_apply_id': equ_apply_id},
                async: true,
                dataType: 'json',
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function (data) {
                    $('#msg').text(data.msg)
                    $('a[data-value="' + equ_apply_id + '"]').parent()[1].remove()
                    $('a[data-value="' + equ_apply_id + '"]').parent()[0].outerHTML = '<td colspan="2">已同意</td>'
                    setTimeout(function () {
                        $('#msg').text('')
                    }, 10000)
                },
                error: function () {
                    $('#msg').text('出错了')
                }
            })
        })

        {#拒绝#}
        $('.refuse').click(function () {
            var equ_apply_id = $(this).attr('data-value')
            $.ajax({
                cache: false,
                url: '{% url "equ:refuse" %}',
                type: 'POST',
                data: {'equ_apply_id': equ_apply_id},
                async: true,
                dataType: 'json',
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function (data) {
                    $('#msg').text(data.msg)
                    $('a[data-value="' + equ_apply_id + '"]').parent()[1].remove()
                    $('a[data-value="' + equ_apply_id + '"]').parent()[0].outerHTML = '<td colspan="2">已拒绝</td>'
                    setTimeout(function () {
                        $('#msg').text('')
                    }, 2000)
                },
                error: function () {
                    $('#msg').text('出错了')
                }
            })
        })
    </script>
{% endblock %}
