{% extends 'main.html' %}

{% block title %}公文管理{% endblock %}

{% block style %}
{% endblock %}

{% block content %}

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <form id="search" method="get" class="navbar-form navbar-left col-md-6 col-sm-6 col-xs-12"
                  style="border: none;">
                <div class="input-group">
                    <input type="text" id="keywords" name="keywords" class="form-control" placeholder="搜索公文信息">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">搜索</button>
                    </span>
                </div>
            </form>

            <form method="get" class="navbar-form navbar-left col-md-6 col-sm-6 col-xs-12" style="border: none;">
                <div class="input-group">
                    <select class="form-control" name="category" id="category">
                        <option value="doc_id">公文ID</option>
                        <option value="person_name">上传人</option>
                        <option value="department_name">相关部门</option>
                        <option value="name">公文名称</option>
                        <option value="document">公文</option>
                        <option value="remark">备注</option>
                        <option value="add_time">添加时间</option>
                    </select>
                    <span class="input-group-btn">
                        <button name="mode" value="positive" class="btn btn-default" type="submit">正序</button>
                    </span>
                    <span class="input-group-btn">
                        <button name="mode" value="negative" class="btn btn-default" type="submit">倒序</button>
                    </span>
                </div>
            </form>
        </div>
    </nav>

    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>#</th>
                <th>公文名称</th>
                <th>相关部门</th>
                <th>上传者</th>
                <th colspan="2">操作</th>
            </tr>
            {% for doc in docs %}
                <tr id="{{ doc.id }}">
                    <td>{{ doc.id }}</td>
                    <td>{{ doc.name }}</td>
                    <td>{{ doc.department_name }}</td>
                    <td>{{ doc.person_name }}</td>
                    <td><a href="{{ MEDIA_URL }}{{ doc.document }}" target="_blank">查看</a></td>
                    {#公司负责 或 系统管理员 删除#}
                    {% if request.user.permission == '公司负责' or request.user.permission == '系统管理员' %}
                        <td>
                            <a class="delete_doc" data-value="{{ doc.id }}" href="javascript:void(0);">删除</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}


{% block js %}
    <script>
        $('.delete_doc').click(function () {
            var doc_id = $(this).attr('data-value')
            $.ajax({
                cache: false,
                url: '{% url 'ann:delete_doc' %}',
                type: 'POST',
                data: {'doc_id': doc_id},
                async: true,
                dataType: 'json',
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function (data) {
                    if (data.status === 'success') {
                        {#                        删除这一行#}
                        $('#' + doc_id).remove()
                    }
                    $('#msg').text(data.msg)
                    setTimeout(function () {
                        $('#msg').text('')
                    }, 10000)
                },
                error: function () {
                    $('#msg').text('出错了')
                }
            })
        })
    </script>
{% endblock %}
