{% extends 'main.html' %}

{% block title %}公文管理{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>#</th>
                <th>公文名称</th>
                <th>相关部门</th>
                <th>上传者</th>
                <th colspan="2">操作</th>
            </tr>
            {% for doc in docs %}
                <tr>
                    <td>{{ doc.id }}</td>
                    <td>{{ doc.name }}</td>
                    <td>{{ doc.department.name }}</td>
                    <td>{{ doc.person }}</td>
                    <td><a href="{{ MEDIA_URL }}{{ doc.document }}">下载</a></td>
                    <td><a class="delete_doc" id="{{ doc.id }}" href="">删除</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}


{% block js %}
    <script>
        $('.delete_doc').click(function () {
            var doc_id = $(this).attr('id')
            $.ajax({
                cache: false,
                url: '{% url 'ann:delete_doc' %}',
                type: 'POST',
                data: {'doc_id': doc_id},
                async: true,
                dataType: 'json',
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function (data) {
                    if (data.status === 'success') {
                        $('#msg').text(data.msg)
                    }
                    $('#msg').text(data.msg)
                    setTimeout(function () {
                        $('#msg').text('')
                    }, 10000)
                },
                error: function () {
                    $('#msg').text('出错了')
                }
            })
        })
    </script>
{% endblock %}
