{% extends 'main.html' %}

{% block title %}公告列表{% endblock %}

{% block style %}
{% endblock %}

{% block content %}

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <form id="search" method="get" class="navbar-form navbar-left col-md-6 col-sm-6 col-xs-12"
                  style="border: none;">
                <div class="input-group">
                    <input type="text" id="keywords" name="keywords" class="form-control" placeholder="搜索公告信息">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">搜索</button>
                    </span>
                </div>
            </form>

            <form method="get" class="navbar-form navbar-left col-md-6 col-sm-6 col-xs-12" style="border: none;">
                <div class="input-group">
                    <select class="form-control" name="category" id="category">
                        <option value="ann_id">公告ID</option>
                        <option value="person_name">发布人</option>
                        <option value="department_name">相关部门</option>
                        <option value="title">公告标题</option>
                        <option value="content">公告正文</option>
                        <option value="remark">备注</option>
                        <option value="add_time">添加时间</option>
                    </select>
                    <span class="input-group-btn">
                        <button name="mode" value="positive" class="btn btn-default" type="submit">正序</button>
                    </span>
                    <span class="input-group-btn">
                        <button name="mode" value="negative" class="btn btn-default" type="submit">倒序</button>
                    </span>
                </div>
            </form>
        </div>
    </nav>

    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>#</th>
                <th>公告标题</th>
                <th>发布时间</th>
                <th>相关部门</th>
                <th>发布人</th>
                {#公司负责 或 系统管理员 删除#}
                {% if request.user.permission == '公司负责' or request.user.permission == '系统管理员' %}
                    <th>操作</th>
                {% endif %}
            </tr>
            {% for ann in anns %}
                <tr id="{{ ann.id }}">
                    <td>{{ ann.id }}</td>
                    <td><a href="{% url 'ann:detail' ann.id %}">{{ ann.title }}</a></td>
                    <td>{{ ann.add_time }}</td>
                    <td>{{ ann.department.name }}</td>
                    <td>{{ ann.person }}</td>
                    {#公司负责 或 系统管理员 删除#}
                    {% if request.user.permission == '公司负责' or request.user.permission == '系统管理员' %}
                        <td>
                            <a href="javascript:void(0);" data-value="{{ ann.id }}" class="delete_ann">删除</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}


{% block js %}
    <script>
        {#避免从登录页跳转到此页面后没有相应的效果#}
        if (location.pathname === '/') {
            $('a[href="/announcement/list/"]')[0].click()
        }

        $('.delete_ann').click(function (e) {
            var ann_id = $(this).attr('data-value')
            $.ajax({
                cache: false,
                url: '{% url "ann:delete_ann" %}',
                type: 'POST',
                async: true,
                dataType: 'json',
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                data: {'ann_id': ann_id},
                success: function (data) {
                    if (data.status === 'success') {
                        $('#' + ann_id).remove()
                    }
                    $('#msg').text(data.msg)
                    setTimeout(function () {
                        $('#msg').text('')
                    }, 10000)
                },
                error: function () {
                    $('#msg').text('出错了')
                }
            })
        })

    </script>
{% endblock %}
