{% extends 'main.html' %}

{% block title %}公文管理{% endblock %}

{% block style %}
{% endblock %}

{% block content %}

    <form class="form-horizontal" id="upload_form" method="post" enctype="multipart/form-data" action="{% url 'ann:doc_upload' %}">
        <input type="hidden" name="person_id" value="{{ request.user.id }}">

        <div class="form-group">
            <label for="name" class="col-md-2 col-sm-2 control-label required">公文名称：</label>
            <div class="col-md-5 col-sm-10">
                <input type="text" class="form-control" id="name" name="name" placeholder="输入公文名称" required>
            </div>
        </div>

        <div class="form-group">
            <label for="document" class="col-md-2 col-sm-2 control-label required">公文文件：</label>
            <div class="col-md-5 col-sm-10">
                <input type="file" id="document" name="document" required>
            </div>
        </div>

        <div class="form-group">
            <label for="department_id" class="col-md-2 col-sm-2 control-label required">相关部门：</label>
            <div class="col-md-5 col-sm-10">
                <select class="form-control" id="department_id" name="department_id" required>
                    {% for department in departments %}
                        <option value="{{ department.id }}"
                                {% ifequal request.user.department department %}selected{% endifequal %}>
                            {{ department.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="remark" class="col-md-2 col-sm-2 control-label">备注：</label>
            <div class="col-md-5 col-sm-10">
                <input type="text" class="form-control" id="remark" name="remark" placeholder="备注，可不填">
            </div>
        </div>

        <button style="margin-bottom: 100px" type="button" id="upload" class="btn btn-primary col-md-7 col-sm-12 col-xs-12">上传公文</button>
        {% csrf_token %}
    </form>
{% endblock %}


{% block js %}
    <script>
        $('#upload').click(function () {
            $.ajax({
                cache: false,
                url: '{% url 'ann:doc_upload' %}',
                type: 'POST',
                data: new FormData($('#upload_form')[0]),
                processData: false,
                contentType: false,
                async: true,
                dataType: 'json',
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function (data) {
                    $('#msg').text(data.msg)
                    setTimeout(function () {
                        $('#msg').text('')
                    }, 10000)
                },
                error: function () {
                    $('#msg').text('出错了')
                }
            })
        })
    </script>
{% endblock %}
