<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>404 not found</title>
    <style>
        .bg404 {
            text-align: center;
        }

        .errorpage {
            width: 98%;
            height: 100%;
            color: #23353c;
        }

        .wp {
            width: 900px;
            margin: 0 auto;
            position: relative;
            clear: both;
        }

        .cont {
            width: 100%;
            height: 50%;
            position: relative;
            margin-top: 20%;
        }
    </style>
</head>
<body class="bg404 errorpage">
<section>
    <div class="wp">
        <div class="cont">
            <img src="/static/img/pic404.png"/>
            <br/><br/><br/><br/>
            <p>wow~这个页面被外星人抢走了~</p>
            <br/>
            <span>Wow~ this page was the alien took ~</span>
        </div>
    </div>
</section>
</body>
</html>
