<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
    <title>{% block title %}首页{% endblock %} - 武汉中科科创工程检测有限公司</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    {#    <link rel='stylesheet' href='/static/css/main.css'/>#}
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    {#    <script src="/static/js/vue.js"></script>#}
    {% block style %}{% endblock %}
    <style>
        a {
            display: block;
            text-align: center;
        }

        .list-group {
            padding: 0;
        }

        th, td {
            text-align: center;
        }
    </style>
</head>
<body>
{#<div id="dialog">#}
{#    <span id="close"></span>#}
{#    <p id="msg">{{ msg }}</p>#}
{#</div>#}

{#顶部导航栏#}
<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">武汉中科科创工程检测有限公司</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a id="now" href="#"></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">欢迎你！{{ user.name }}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'user:edit' request.user.id %}">编辑档案</a></li>
                        <li><a href="{% url 'user:change' %}">修改密码</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'logout' %}">注销</a></li>
            </ul>
        </div>
    </div>
</nav>
{#顶部导航栏结束#}


{#<nav class="navbar navbar-inverse navbar-static-top">#}
{#    <div class="container">#}
{#        <div class="head-left">#}
{#            武汉中科科创工程检测有限公司#}
{#        </div>#}
{#        <div class="head-right">#}
{#            <ul>#}
{#                <li class="person-nav">#}
{#                    欢迎你！{{ user.name }}#}
{#                    <ul class="hover-nav">#}
{#                        <li><a href="{% url 'user:edit' request.user.id %}">编辑档案</a></li>#}
{#                        <li><a href="{% url 'user:change' %}">修改密码</a></li>#}
{#                        <li><a href="{% url 'logout' %}">退出登录</a></li>#}
{#                    </ul>#}
{#                </li>#}
{#                <li id="now"></li>#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{#</nav>#}

{#顶部导航栏下主体区域#}
<div class="container-fluid">
    {#左侧导航栏#}
    <div class="col-md-2 left">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a class="left-nav-head collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                           href="#collapseOne"
                           aria-expanded="false" aria-controls="collapseOne">
                            工程管理
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body list-group">
                        <a href="{% url 'pro:add' %}" class="list-group-item">添加工程</a>
                        <a href="{% url 'pro:list' %}" class="list-group-item">浏览工程</a>
                        <a href="{% url 'pro:attendance' %}" class="list-group-item">考勤登记</a>
                        <a href="{% url 'pro:apply' %}" class="list-group-item">申请记录</a>
                        <a href="{% url 'pro:verify' %}" class="list-group-item">工程审核</a>
                        <a href="{% url 'pro:change' %}" class="list-group-item">变更记录</a>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="left-nav-head collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                           href="#collapseTwo"
                           aria-expanded="false" aria-controls="collapseTwo">
                            设备管理
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body list-group">
                        <a href="{% url 'equ:list' %}" class="list-group-item">设备浏览</a>
                        <a href="{% url 'equ:revert' %}" class="list-group-item">设备归还</a>
                        <a href="{% url 'equ:info' %}" class="list-group-item">设备资料</a>
                        <a href="{% url 'equ:apply' %}" class="list-group-item">申请记录</a>
                        <a href="{% url 'equ:verify' %}" class="list-group-item">设备审核</a>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="left-nav-head collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                           href="#collapseThree"
                           aria-expanded="false" aria-controls="collapseThree">
                            人员管理
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body list-group">
                        <a href="{% url 'user:list' %}" class="list-group-item">人员浏览</a>
                        <a href="{% url 'user:edit' request.user.id %}" class="list-group-item">编辑档案</a>
                        <a href="{% url 'user:address' %}" class="list-group-item">通讯录</a>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFour">
                    <h4 class="panel-title">
                        <a class="left-nav-head collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                           href="#collapseFour"
                           aria-expanded="false" aria-controls="collapseFour">
                            公告公文管理
                        </a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                    <div class="panel-body list-group">
                        <a href="{% url 'ann:list' %}" class="list-group-item">浏览公告</a>
                        <a href="{% url 'ann:publish' %}" class="list-group-item">发布公告</a>
                        <a href="{% url 'ann:doc_list' %}" class="list-group-item">下载公文</a>
                        <a href="{% url 'ann:doc_upload' %}" class="list-group-item">上传公文</a>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFive">
                    <h4 class="panel-title">
                        <a class="left-nav-head collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                           href="#collapseFive"
                           aria-expanded="false" aria-controls="collapseFive">
                            用户管理
                        </a>
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                    <div class="panel-body list-group">
                        <a href="{% url 'user:permission' %}" class="list-group-item">人员权限管理</a>
                        <a href="{% url 'user:staff' %}" class="list-group-item">员工信息管理</a>
                        <a href="{% url 'user:reset' %}" class="list-group-item">员工密码修改</a>
                        <a href="{% url 'user:change' %}" class="list-group-item">个人密码修改</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#右侧信息展示区#}
    <div class="col-md-10 right">
        {% if request.user.is_authenticated %}
            {#路径导航（面包屑）#}
            <ol class="breadcrumb">
                <li>{{ path_main }}公告公文管理</li>
                <li class="active">{{ path_detail }}浏览公告</li>
            </ol>

            {#顶部信息导航#}
            {#            <nav class="navbar navbar-default navbar-static-top">#}
            {#                <div class="container-fluid">#}
            {#                    <div class="navbar-header">#}
            {#                        <a class="navbar-brand" href="#">{{ nav_head }}公告信息</a>#}
            {#                    </div>#}
            {##}
            {#                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">#}
            {#                        <ul class="nav navbar-nav navbar-left">#}
            {#                            <li></li>#}
            {#                        </ul>#}
            {##}
            {#                        <form class="navbar-form navbar-left" action="" method="get">#}
            {#                            <div class="input-group search-group">#}
            {#                                <label for="searchbar"></label>#}
            {#                                <input id="searchbar" class="form-control" name="_q_" value="" placeholder="搜索 公告信息"#}
            {#                                       type="text">#}
            {#                                <span class="input-group-btn"><button class="btn btn-primary" type="button">搜索</button></span>#}
            {#                            </div>#}
            {#                        </form>#}
            {##}
            {#                        <div class="navbar-btn pull-right hide-xs">#}
            {#                            <a href="{% url 'ann:publish' %}" class="btn btn-primary">发布新公告</a>#}
            {#                        </div>#}
            {#                    </div>#}
            {#                </div>#}
            {#            </nav>#}
            {% block content %}
            {% endblock %}
        {% else %}
            <h2 class="warning">对不起，您当前尚未登录，无法浏览！</h2>
        {% endif %}
    </div>
</div>


<script>
    {#    // 弹窗#}
    {#    setInterval(function () {#}
    {#        if ($('#msg').text() === '') {#}
    {#            $('#dialog').slideUp()#}
    {#        } else {#}
    {#            $('#dialog').slideDown()#}
    {#        }#}
    {#    }, 1000)#}
    {##}
    {#    $('#close').click(function () {#}
    {#        $('#dialog').slideUp()#}
    {#        $('#msg').text('')#}
    {#    })#}
    {##}
    {##}
    {#    // 左侧导航位置，sessionStorage#}
    {#    var left = document.querySelector('.left')#}
    {#    left.scrollTop = sessionStorage.getItem('leftTop')#}
    {#    left.onscroll = function () {#}
    {#        sessionStorage.setItem('leftTop', left.scrollTop)#}
    {#    }#}

    // 显示时间
    function showTime() {
        var time = new Date()
        var year = time.getFullYear()
        var mounth = time.getMonth()
        var date = time.getDate()
        var day = time.getDay()
        var hours = time.getHours()
        var minutes = time.getMinutes()
        var seconds = time.getSeconds()

        var dayArr = ['日 ', '一 ', '二 ', '三 ', '四 ', '五 ', '六 ']

        if (('' + minutes).length < 2) {
            minutes = '0' + minutes
        }
        if (('' + seconds).length < 2) {
            seconds = '0' + seconds
        }


        return `${year}年${mounth + 1}月${date}日星期${dayArr[day]}${hours}:${minutes}:${seconds}`
    }

    setInterval(function () {
        document.querySelector('#now').innerText = showTime()
    }, 1000)

    // 导航收起展开，此处有bug
    {#        var listHeader = document.querySelectorAll('.header')#}
    {#        for (var i = 0; i < listHeader.length; i++) {#}
    {#            listHeader[i].onclick = function (e) {#}
    {#                e.preventDefault()#}
    {#                e.stopPropagation()#}
    {##}
    {#                var tar = e.currentTarget.parentElement#}
    {##}
    {#                if (tar.className.includes(' active')) {#}
    {#                    tar.className = tar.className.replace(' active', '')#}
    {#                } else {#}
    {#                    // 若点击的不是当前active的项目#}
    {#                    // var pre = document.querySelector('.active')#}
    {#                    // if (pre) {#}
    {#                    //     pre.className = pre.className.replace(' active', '')#}
    {#                    // }#}
    {#                    tar.className += ' active'#}
    {#                }#}
    {#            }#}
    {#        }#}
</script>
{% block js %}{% endblock %}
</body>
</html>
