<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
    <title>{% block title %}首页{% endblock %} - 武汉中科科创工程检测有限公司</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    {#<link rel='stylesheet' href='/static/css/main.css'/>#}
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    {#<script src="/static/js/vue.js"></script>#}
    {% block style %}{% endblock %}
    <style>
        a {
            display: block;
            text-align: center;
        }

        .list-group {
            padding: 0;
        }

        th, td {
            text-align: center;
        }

        .required:after {
            content: '*';
            color: red;
        }

        {#模态框#}
        #dialog {
            display: none;
            text-align: center;
            margin: 0 auto;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 20px 5px;
            background: #fff;
            color: #f00;
            font-size: 18px;
            font-weight: bold;
            position: fixed;
            top: 50px;
            left: 50%;
            transform: translate(-50%, 0);
            z-index: 10;
        }

        #close:after {
            content: 'X';
            color: #333;
            float: right;
            position: relative;
            top: -20px;
        }

        #close:after:hover {
            cursor: pointer;
            background: #f00;
        }
    </style>
</head>
<body>
<div id="dialog" class="col-md-7 col-sm-10 col-xs-11">
    <span id="close"></span>
    <div id="msg">{{ msg }}</div>
</div>

{#<script>#}
{#    function closeRecommend(){#}
{#        var recommend = document.querySelector('#recommend')#}
{#        recommend.style.display = 'none'#}
{#    }#}
{#</script>#}

<p id="recommend" style="text-align:center;">我们推荐您使用最新的<a style="display:inline;"
                                                          href="https://www.baidu.com/s?ie=utf-8&f=8&rsv_bp=0&rsv_idx=1&tn=baidu&wd=chrome&rsv_pq=849f379300025f64&rsv_t=b809hd6EdOFyGwiXI0IQOVbVfDf4SXjjlbTa%2BGtdHDNO%2FNvQlCr3M8jSh74&rqlang=cn&rsv_enter=1&rsv_sug3=4&rsv_sug1=4&rsv_sug7=100"
                                                          target="_blank">Chrome浏览器</a>，以获得最佳的用户体验
    {#    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="cursor:pointer;" onclick="closeRecommend()">X</span>#}
</p>

<script>
    if(navigator.userAgent.indexOf('Chrome/5') !== -1){
        recommend.style.display = 'none'
    }
</script>

{#顶部导航栏#}
<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="javascript:void(0);">武汉中科科创工程检测有限公司</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a id="now" href="javascript:void(0);"></a></li>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true"
                       aria-expanded="false">欢迎你！{{ user.name }}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'user:edit' request.user.id %}">个人档案</a></li>
                        <li><a href="{% url 'user:change' %}">修改密码</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{% url 'logout' %}">注销</a></li>
                    </ul>
                </li>
                <li><a href="javascript:void(0);">你的系统权限为：{{ request.user.get_permission_display }}</a></li>
            </ul>
        </div>
    </div>
</nav>
{#顶部导航栏结束#}

{#顶部导航栏下主体区域#}
<div class="container-fluid">

    {#左侧导航栏#}
    <div class="col-md-2 left">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a class="left-nav-head collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                           href="#collapseOne"
                           aria-expanded="false" aria-controls="collapseOne">
                            工程管理
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body list-group">
                        <a href="{% url 'pro:add' %}" class="list-group-item">添加工程</a>
                        <a href="{% url 'pro:list' %}" class="list-group-item">浏览工程</a>
                        <a href="{% url 'pro:attendance' %}" class="list-group-item">考勤登记</a>
                        <a href="{% url 'pro:apply' %}" class="list-group-item">工程申请</a>
{#                        {% if request.user.permission == '1' or request.user.permission == '2' %}#}
                            <a href="{% url 'pro:verify' %}" class="list-group-item">工程审核</a>
{#                        {% endif %}#}
                        <a href="{% url 'pro:change' %}" class="list-group-item">变更记录</a>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="left-nav-head collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                           href="#collapseTwo"
                           aria-expanded="false" aria-controls="collapseTwo">
                            设备管理
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body list-group">
                        <a href="{% url 'equ:list' %}" class="list-group-item">设备浏览</a>
                        <a href="{% url 'equ:revert' %}" class="list-group-item">设备归还</a>
                        {% if request.user.permission == '2' or request.user.permission == '3' %}
                            <a href="{% url 'equ:info' %}" class="list-group-item">设备资料</a>
                        {% endif %}
                        <a href="{% url 'equ:apply' %}" class="list-group-item">设备申请</a>
                        <a href="{% url 'equ:verify' %}" class="list-group-item">设备审核</a>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="left-nav-head collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                           href="#collapseThree"
                           aria-expanded="false" aria-controls="collapseThree">
                            人员管理
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body list-group">
                        <a href="{% url 'user:list' %}" class="list-group-item">人员浏览</a>
                        <a href="{% url 'user:edit' request.user.id %}" class="list-group-item">个人档案</a>
                        <a href="{% url 'user:address' %}" class="list-group-item">通讯录</a>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFour">
                    <h4 class="panel-title">
                        <a class="left-nav-head collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                           href="#collapseFour"
                           aria-expanded="false" aria-controls="collapseFour">
                            公告公文管理
                        </a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                    <div class="panel-body list-group">
                        <a href="{% url 'ann:list' %}" class="list-group-item">浏览公告</a>
                        {% if request.user.permission == '2' or request.user.permission == '3' %}
                            <a href="{% url 'ann:publish' %}" class="list-group-item">发布公告</a>
                        {% endif %}
                        <a href="{% url 'ann:doc_list' %}" class="list-group-item">下载公文</a>
                        {% if request.user.permission == '2' or request.user.permission == '3' %}
                            <a href="{% url 'ann:doc_upload' %}" class="list-group-item">上传公文</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFive">
                    <h4 class="panel-title">
                        <a class="left-nav-head collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                           href="#collapseFive"
                           aria-expanded="false" aria-controls="collapseFive">
                            用户管理
                        </a>
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                    <div class="panel-body list-group">
                        {% if request.user.permission == '2' or request.user.permission == '3' %}
                            <a href="{% url 'user:permission' %}" class="list-group-item">人员权限管理</a>
                            <a href="{% url 'user:staff' %}" class="list-group-item">员工信息管理</a>
                            <a href="{% url 'user:reset' %}" class="list-group-item">员工密码修改</a>
                        {% else %}
                        {% endif %}
                        <a href="{% url 'user:change' %}" class="list-group-item">个人密码修改</a>
                    </div>
                </div>
            </div>

            {% if request.user.permission == '2' or request.user.permission == '3' %}
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a class="left-nav-head collapsed" role="button" href="/admin/" target="_blank">
                                后台管理系统入口
                            </a>
                        </h4>
                    </div>
                </div>
                </div>
            {% endif %}

    </div>
    {#左侧导航栏结束#}

    {#右侧信息展示区#}
    <div class="col-md-10 right">
        {% if request.user.is_authenticated %}

            {#路径导航（面包屑）#}
            <ol class="breadcrumb"></ol>

            {#顶部信息导航#}
            {#            <nav class="navbar navbar-default navbar-static-top">#}
            {#                <div class="container-fluid">#}
            {#                    <div class="navbar-header">#}
            {#                        <a class="navbar-brand" href="#">{{ nav_head }}公告信息</a>#}
            {#                    </div>#}
            {##}
            {#                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">#}
            {#                        <ul class="nav navbar-nav navbar-left">#}
            {#                            <li></li>#}
            {#                        </ul>#}
            {##}
            {#                        <form class="navbar-form navbar-left" action="" method="get">#}
            {#                            <div class="input-group search-group">#}
            {#                                <label for="searchbar"></label>#}
            {#                                <input id="searchbar" class="form-control" name="_q_" value="" placeholder="搜索 公告信息"#}
            {#                                       type="text">#}
            {#                                <span class="input-group-btn"><button class="btn btn-primary" type="button">搜索</button></span>#}
            {#                            </div>#}
            {#                        </form>#}
            {##}
            {#                        <div class="navbar-btn pull-right hide-xs">#}
            {#                            <a href="{% url 'ann:publish' %}" class="btn btn-primary">发布新公告</a>#}
            {#                        </div>#}
            {#                    </div>#}
            {#                </div>#}
            {#            </nav>#}
            {% block content %}
            {% endblock %}
        {% else %}
            <h2 class="warning">对不起，您当前尚未登录，无法浏览！</h2>
        {% endif %}
    </div>
    {#右侧信息展示区结束#}

</div>


<script>
    {#模态框#}
    setInterval(function () {
        if ($('#msg').text() === '') {
            $('#dialog').slideUp()
        } else {
            $('#dialog').slideDown()
        }
    }, 1000)

    {#点击隐藏模态框#}
    $('html').click(function () {
        $('#dialog').slideUp()
        $('#msg').text('')
    })

    {#根据 sessionStorage ，显示左侧导航位置和路径面包屑#}
    var navHead = sessionStorage.getItem('left-nav-head')
    var navItem = sessionStorage.getItem('left-nav-item')
    {#左侧导航栏#}
    $('a.left-nav-head:contains(' + navHead + ')').removeClass('collapsed').attr('aria-expanded', 'true')
    $('a.list-group-item:contains(' + navItem + ')').addClass('active').parents('.panel-collapse').addClass('in')
    {#面包屑#}
    $('ol.breadcrumb').html('<li>' + navHead + '</li><li class="active">' + navItem + '</li>')

    {#初始化 sessionStorage#}
    {#    sessionStorage.setItem('left-nav-head', '公告公文管理')#}
    {#    sessionStorage.setItem('left-nav-item', '浏览公告')#}

    // 左侧导航点击，保存到 sessionStorage
    $('a.list-group-item').click(function () {
        {#获取导航头部文本内容#}
        var navHead = $(this).closest('.panel-collapse').prev().children().children().text().trim()
        sessionStorage.setItem('left-nav-head', navHead)
        {#获取导航item文本内容#}
        var navItem = $(this).text().trim()
        sessionStorage.setItem('left-nav-item', navItem)
    })

    // 显示时间
    function showTime() {
        var time = new Date()
        var year = time.getFullYear()
        var month = time.getMonth()
        var date = time.getDate()
        var day = time.getDay()
        var hours = time.getHours()
        var minutes = time.getMinutes()
        var seconds = time.getSeconds()

        var dayArr = ['日 ', '一 ', '二 ', '三 ', '四 ', '五 ', '六 ']
        {#一位数补0#}
        if (('' + minutes).length < 2) {
            minutes = '0' + minutes
        }
        if (('' + seconds).length < 2) {
            seconds = '0' + seconds
        }

        return year + '年' + (month + 1) + '月' + date + '日星期' + dayArr[day] + ' ' + hours + ':' + minutes + ':' + seconds
    }

    setInterval(function () {
        $('#now').text(showTime())
    }, 1000)

</script>
{% block js %}{% endblock %}
</body>
</html>
