{% extends 'main.html' %}

{% block title %}工程申请详情{% endblock %}

{% block style %}{% endblock %}

{% block content %}

    <form class="form-horizontal" method="post" enctype="multipart/form-data" action="{% url 'pro:add' %}">

        <div class="form-group">
            <label for="pro_name" class="col-md-2 col-sm-2 control-label">工程名称：</label>
            <div class="col-md-5 col-sm-10">
                <input type="text" class="form-control" id="pro_name" name="pro_name" placeholder="未填写"
                       value="{{ pro.pro_name }}" disabled>
            </div>
        </div>

        <div class="form-group">
            <label for="pro_person_id" class="col-md-2 col-sm-2 control-label">项目负责人：</label>
            <div class="col-md-5 col-sm-10">
                <select class="form-control" id="pro_person_id" name="pro_person_id" disabled>
                    <option value="">未填写</option>
                    {% for staff in staffs %}
                        <option value="{{ staff.id }}" {% ifequal pro.pro_person_id staff.id %}selected{% endifequal %}>
                            {{ staff.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="pro_type_id" class="col-md-2 col-sm-2 control-label">工程类型：</label>
            <div class="col-md-5 col-sm-10">
                <select class="form-control" id="pro_type_id" name="pro_type_id" disabled>
                    <option value="">未填写</option>
                    {% for pro_type in pro_types %}
                        <option value="{{ pro_type.id }}"
                                {% ifequal pro.pro_type_id pro_type.id %}selected{% endifequal %}>
                            {{ pro_type.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="pro_stage_id" class="col-md-2 col-sm-2 control-label">项目阶段：</label>
            <div class="col-md-5 col-sm-10">
                <select class="form-control" id="pro_stage_id" name="pro_stage_id" disabled>
                    <option value="">未填写</option>
                    {% for pro_stage in pro_stages %}
                        <option value="{{ pro_stage.id }}"
                                {% ifequal pro.pro_stage_id pro_stage.id %}selected{% endifequal %}>
                            {{ pro_stage.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="wt_person_id" class="col-md-2 col-sm-2 control-label">法人委托：</label>
            <div class="col-md-5 col-sm-10">
                <select class="form-control" id="wt_person_id" name="wt_person_id" disabled>
                    <option value="">未填写</option>
                    {% for staff in staffs %}
                        <option value="{{ staff.id }}" {% ifequal pro.wt_person_id staff.id %}selected{% endifequal %}>
                            {{ staff.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="ht_person_id" class="col-md-2 col-sm-2 control-label">合同签署人：</label>
            <div class="col-md-5 col-sm-10">
                <select class="form-control" id="ht_person_id" name="ht_person_id" disabled>
                    <option value="">未填写</option>
                    {% for staff in staffs %}
                        <option value="{{ staff.id }}" {% ifequal pro.ht_person_id staff.id %}selected{% endifequal %}>
                            {{ staff.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="ht_name" class="col-md-2 col-sm-2 control-label">合同名称：</label>
            <div class="col-md-5 col-sm-10">
                <input type="text" class="form-control" id="ht_name" name="ht_name" placeholder="未填写"
                       value="{{ pro.ht_name }}" disabled>
            </div>
        </div>

        <div class="form-group">
            <label for="ht_num" class="col-md-2 col-sm-2 control-label">合同编号：</label>
            <div class="col-md-5 col-sm-10">
                <input type="text" class="form-control" id="ht_num" name="ht_num" placeholder="未填写"
                       value="{{ pro.ht_num }}" disabled>
            </div>
        </div>

        <div class="form-group">
            <label for="ht_money" class="col-md-2 col-sm-2 control-label">合同金额：</label>
            <div class="col-md-5 col-sm-10">
                <input type="text" class="form-control" id="ht_money" name="ht_money" placeholder="未填写"
                       value="{{ pro.ht_money }}" disabled>
            </div>
        </div>

        <div class="form-group">
            <label for="js_money" class="col-md-2 col-sm-2 control-label">结算金额：</label>
            <div class="col-md-5 col-sm-10">
                <input type="text" class="form-control" id="js_money" name="js_money" placeholder="未填写"
                       value="{{ pro.js_money }}" disabled>
            </div>
        </div>

        <div class="form-group">
            <label for="wt_dw" class="col-md-2 col-sm-2 control-label">委托单位：</label>
            <div class="col-md-5 col-sm-10">
                <input type="text" class="form-control" id="wt_dw" name="wt_dw" placeholder="未填写"
                       value="{{ pro.wt_dw }}" disabled>
            </div>
        </div>

        <div class="form-group">
            <label for="mobile" class="col-md-2 col-sm-2 control-label">联系电话：</label>
            <div class="col-md-5 col-sm-10">
                <input type="text" class="form-control" id="mobile" name="mobile" placeholder="未填写"
                       value="{{ pro.mobile }}" disabled>
            </div>
        </div>

        <div class="form-group">
            <label for="pro_address" class="col-md-2 col-sm-2 control-label">项目地址：</label>
            <div class="col-md-5 col-sm-10">
                <input type="text" class="form-control" id="pro_address" name="pro_address" placeholder="未填写"
                       value="{{ pro.pro_address }}" disabled>
            </div>
        </div>

        <div class="form-group">
            <label for="sign_date" class="col-md-2 col-sm-2 control-label">签订日期：</label>
            <div class="col-md-5 col-sm-10">
                <input type="date" class="form-control" id="sign_date" name="sign_date"
                       placeholder="未填写" value="{{ pro.sign_date|date:"Y-m-d" }}" disabled>
            </div>
        </div>

        <div class="form-group">
            <label for="start_date" class="col-md-2 col-sm-2 control-label">开工日期：</label>
            <div class="col-md-5 col-sm-10">
                <input type="date" class="form-control" id="start_date" name="start_date"
                       placeholder="未填写" value="{{ pro.start_date|date:"Y-m-d" }}" disabled>
            </div>
        </div>

        <div class="form-group">
            <label for="finish_date" class="col-md-2 col-sm-2 control-label">完工日期：</label>
            <div class="col-md-5 col-sm-10">
                <input type="date" class="form-control" id="finish_date" name="finish_date"
                       placeholder="未填写" value="{{ pro.finish_date|date:"Y-m-d" }}" disabled>
            </div>
        </div>
        {##}
        {#        <div class="form-group">#}
        {#            <label for="pro_name" class="col-md-2 col-sm-2 control-label">检测设备：</label>#}
        {#            <div class="col-md-5 col-sm-10">#}
        {#                <input type="text" class="form-control" id="pro_name" name="pro_name" placeholder="检测设备">#}
        {#            </div>#}
        {#        </div>#}

        <div class="form-group">
            <label for="ht_scan" class="col-md-2 col-sm-2 control-label">上传合同扫描件：</label>
            <div class="col-md-5 col-sm-10">
                {#                <input type="file" id="ht_scan" name="ht_scan">#}
                {% if pro.ht_scan %}
                    <a href="{{ MEDIA_URL }}{{ pro.ht_scan }}" target="_blank">查看</a>
                {% else %}
                    未上传
                {% endif %}
            </div>
            <p class="help-block"></p>
        </div>

        <div class="form-group">
            <label for="remark" class="col-md-2 col-sm-2 control-label">备注：</label>
            <div class="col-md-5 col-sm-10">
                <input type="text" class="form-control" id="remark" name="remark" placeholder="未填写"
                       value="{{ pro.remark }}" disabled>
            </div>
        </div>

        {#        <button style="margin-bottom: 100px" type="submit" class="btn btn-primary col-md-7">添加</button>#}
        {% csrf_token %}
    </form>


    <a style="margin-top: 50px; margin-bottom: 100px" href="{% url 'pro:list' %}" class="btn btn-primary col-md-7"
       role="button">返回</a>

{% endblock %}
