{% extends 'main.html' %}

{% block title %}变更记录{% endblock %}

{% block style %}{% endblock %}

{% block content %}

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <form id="search" method="get" class="navbar-form navbar-left col-md-6 col-sm-6 col-xs-12"
                  style="border: none;">
                <div class="input-group">
                    <input type="text" id="keywords" name="keywords" class="form-control" placeholder="搜索变更记录">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">搜索</button>
                    </span>
                </div>
            </form>

            <form method="get" class="navbar-form navbar-left col-md-6 col-sm-6 col-xs-12" style="border: none;">
                <div class="input-group">
                    <select class="form-control" name="category" id="category">
                        <option value="pro_apply_id">记录ID</option>
                        <option value="pro_person_id">工程负责人</option>
                        <option value="pro_type_id">工程类型</option>
                        <option value="pro_stage_id">项目阶段</option>
                        <option value="department_id">所属部门</option>
                        <option value="wt_person_id">法人委托</option>
                        <option value="ht_person_id">合同签署人</option>
                        <option value="ht_num">合同编号</option>
                        <option value="ht_money">合同金额</option>
                        <option value="js_money">结算金额</option>
                        <option value="mobile">联系电话</option>
                        <option value="sign_date">签订日期</option>
                        <option value="start_date">开工日期</option>
                        <option value="finish_date">完工日期</option>
                        <option value="add_time">添加时间</option>
                    </select>
                    <span class="input-group-btn">
                        <button name="mode" value="positive" class="btn btn-default" type="submit">正序</button>
                    </span>
                    <span class="input-group-btn">
                        <button name="mode" value="negative" class="btn btn-default" type="submit">倒序</button>
                    </span>
                </div>
            </form>
        </div>
    </nav>

    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>#</th>
                <th>工程名称</th>
                <th>负责人</th>
                <th>申请人</th>
                <th>所在部门</th>
                <th>工程类型</th>
                <th>项目阶段</th>
                <th>修改类型</th>
                <th>申请日期</th>
                <th>变更后详情</th>
            </tr>
            {% for pro_apply in pro_applys %}
                <tr>
                    <td>{{ pro_apply.id }}</td>
                    <td>{{ pro_apply.project_name }}</td>
                    <td>
                        {% if pro_apply.pro_person %}
                            {{ pro_apply.pro_person }}
                        {% else %}
                            未设置
                        {% endif %}
                    </td>
                    <td>
                        {% if pro_apply.person_name %}
                            {{ pro_apply.person_name }}
                        {% else %}
                            未设置
                        {% endif %}
                    </td>
                    <td>
                        {% if pro_apply.department %}
                            {{ pro_apply.department }}
                        {% else %}
                            未设置
                        {% endif %}
                    </td>
                    <td>
                        {% if pro_apply.pro_type %}
                            {{ pro_apply.pro_type }}
                        {% else %}
                            未设置
                        {% endif %}
                    </td>
                    <td>
                        {% if pro_apply.pro_stage %}
                            {{ pro_apply.pro_stage }}
                        {% else %}
                            未设置
                        {% endif %}
                    </td>
                    <td>{{ pro_apply.type }}</td>
                    <td>{{ pro_apply.add_time }}</td>
                    <td><a href="{% url 'pro:pro_apply' pro_apply.id %}">查看</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}
