{% extends 'main.html' %}

{% block title %}修改工程信息{% endblock %}

{% block style %}{% endblock %}

{% block content %}

    {% for pro_member in pro_members %}
        <form class="form-horizontal" method="post" action="">
            <div class="form-group">
                <label class="col-md-2 col-sm-2 col-xs-4 control-label">项目成员：</label>
                <div class="col-md-5 col-sm-8 col-xs-6">
                    <select class="form-control" disabled>
                        <option value="{{ pro_member.person_id }}">
                            {{ pro_member.person_name }}
                            {% if pro_member.is_pro_person %}
                                <span>（负责人）</span>
                            {% endif %}
                        </option>
                    </select>
                </div>
                {% if is_permit == 1 and pro_member.is_pro_person == 0 %}
                    <button data-value="{{ pro_member.id }}" type="button" class="btn btn-primary delete-member">删除
                    </button>
                {% endif %}
            </div>
        </form>
    {% endfor %}

    {% if is_permit != 0 %}
        <form id="add_member" class="form-horizontal" method="post" action="{% url "pro:add_member" %}">

            <input type="hidden" name="project_id" value="{{ pro.id }}">

            <div class="form-group">
                <label for="person_id" class="col-md-2 col-sm-2 col-xs-4 control-label required">项目成员：</label>
                <div class="col-md-5 col-sm-8 col-xs-6">
                    <select class="form-control" id="person_id" name="person_id">
                        {% for staff in staffs %}
                            <option value="{{ staff.id }}">
                                {{ staff.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <button class="btn btn-primary add-member" type="button">添加</button>
            </div>
            {% csrf_token %}
        </form>
    {% endif %}

    <hr>

    {% for pro_equ in pro_equs %}
        <form class="form-horizontal" method="post" action="">
            <div class="form-group">
                <label class="col-md-2 col-sm-2 col-xs-4 control-label">工程设备：</label>
                <div class="col-md-5 col-sm-8 col-xs-6">
                    <select class="form-control" disabled>
                        <option value="{{ pro_equ.equipment_id }}">
                            {{ pro_equ.equipment_name }}
                        </option>
                    </select>
                </div>
                {% if is_permit != 0 %}
                    <button data-value="{{ pro_equ.id }}" type="button" class="btn btn-primary delete-equ">删除</button>
                {% endif %}
            </div>
        </form>
    {% endfor %}

    {% if is_permit != 0 %}
        <form id="add_equ" class="form-horizontal" method="post" action="{% url "pro:add_member" %}">
            <input type="hidden" name="project_id" value="{{ pro.id }}">
            <div class="form-group">
                <label for="equ_id" class="col-md-2 col-sm-2 col-xs-4 control-label required">工程设备：</label>
                <div class="col-md-5 col-sm-8 col-xs-6">
                    <select class="form-control" id="equ_id" name="equ_id">
                        {% for equ in equs %}
                            <option value="{{ equ.id }}">
                                {{ equ.equ_name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <button class="btn btn-primary add-equ" type="button">添加</button>
            </div>
            {% csrf_token %}
        </form>
    {% endif %}

    <p><b>工程负责人</b>或<b>公司负责</b>能够在此页面中修改<b>项目成员</b>和<b>工程设备</b></p>
    <p>只修改<b>项目成员</b>和<b>工程设备</b>时，不需要提交下方的表单申请</p>

    <hr>

    <form class="form-horizontal" method="post" enctype="multipart/form-data" action="{% url 'pro:pro_edit' %}">

        <input type="hidden" name="pro_id" value="{{ pro.id }}">

        <div class="form-group">
            <label for="pro_name" class="col-md-2 col-sm-2 control-label required">工程名称：</label>
            <div class="col-md-5 col-sm-10">
                <input type="text" class="form-control" id="pro_name" name="pro_name" placeholder="工程名称"
                       value="{{ pro.pro_name }}" required>
            </div>
        </div>

        <div class="form-group">
            <label for="pro_person_id" class="col-md-2 col-sm-2 control-label required">项目负责人：</label>
            <div class="col-md-5 col-sm-10">
                <select class="form-control" id="pro_person_id" name="pro_person_id">
                    {% for staff in staffs %}
                        <option value="{{ staff.id }}" {% ifequal pro.pro_person_id staff.id %}selected{% endifequal %}>
                            {{ staff.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="department_id" class="col-md-2 col-sm-2 control-label">所属部门：</label>
            <div class="col-md-5 col-sm-10">
                <select class="form-control" id="department_id" name="department_id">
                    {% for department in departments %}
                        <option value="{{ department.id }}"
                                {% ifequal pro.department_id department.id %}selected{% endifequal %}>
                            {{ department.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="pro_type_id" class="col-md-2 col-sm-2 control-label">工程类型：</label>
            <div class="col-md-5 col-sm-10">
                <select class="form-control" id="pro_type_id" name="pro_type_id">
                    <option value="">---------</option>
                    {% for pro_type in pro_types %}
                        <option value="{{ pro_type.id }}"
                                {% ifequal pro.pro_type_id pro_type.id %}selected{% endifequal %}>
                            {{ pro_type.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="pro_stage_id" class="col-md-2 col-sm-2 control-label">项目阶段：</label>
            <div class="col-md-5 col-sm-10">
                <select class="form-control" id="pro_stage_id" name="pro_stage_id">
                    <option value="">---------</option>
                    {% for pro_stage in pro_stages %}
                        <option value="{{ pro_stage.id }}"
                                {% ifequal pro.pro_stage_id pro_stage.id %}selected{% endifequal %}>
                            {{ pro_stage.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="wt_person_id" class="col-md-2 col-sm-2 control-label">法人委托：</label>
            <div class="col-md-5 col-sm-10">
                <select class="form-control" id="wt_person_id" name="wt_person_id">
                    <option value="">---------</option>
                    {% for staff in staffs %}
                        <option value="{{ staff.id }}" {% ifequal pro.wt_person_id staff.id %}selected{% endifequal %}>
                            {{ staff.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="ht_person_id" class="col-md-2 col-sm-2 control-label">合同签署人：</label>
            <div class="col-md-5 col-sm-10">
                <select class="form-control" id="ht_person_id" name="ht_person_id">
                    <option value="">---------</option>
                    {% for staff in staffs %}
                        <option value="{{ staff.id }}" {% ifequal pro.ht_person_id staff.id %}selected{% endifequal %}>
                            {{ staff.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="ht_name" class="col-md-2 col-sm-2 control-label">合同名称：</label>
            <div class="col-md-5 col-sm-10">
                <input type="text" class="form-control" id="ht_name" name="ht_name" placeholder="合同名称"
                       value="{{ pro.ht_name }}">
            </div>
        </div>

        <div class="form-group">
            <label for="ht_num" class="col-md-2 col-sm-2 control-label">合同编号：</label>
            <div class="col-md-5 col-sm-10">
                <input type="text" class="form-control" id="ht_num" name="ht_num" placeholder="合同编号"
                       value="{{ pro.ht_num }}">
            </div>
        </div>

        <div class="form-group">
            <label for="ht_money" class="col-md-2 col-sm-2 control-label">合同金额：</label>
            <div class="col-md-5 col-sm-10">
                <input type="text" class="form-control" id="ht_money" name="ht_money" placeholder="合同金额"
                       value="{{ pro.ht_money }}">
            </div>
        </div>

        <div class="form-group">
            <label for="js_money" class="col-md-2 col-sm-2 control-label">结算金额：</label>
            <div class="col-md-5 col-sm-10">
                <input type="text" class="form-control" id="js_money" name="js_money" placeholder="结算金额"
                       value="{{ pro.js_money }}">
            </div>
        </div>

        <div class="form-group">
            <label for="wt_dw" class="col-md-2 col-sm-2 control-label">委托单位：</label>
            <div class="col-md-5 col-sm-10">
                <input type="text" class="form-control" id="wt_dw" name="wt_dw" placeholder="委托单位"
                       value="{{ pro.wt_dw }}">
            </div>
        </div>

        <div class="form-group">
            <label for="mobile" class="col-md-2 col-sm-2 control-label">联系电话：</label>
            <div class="col-md-5 col-sm-10">
                <input type="text" class="form-control" id="mobile" name="mobile" placeholder="联系电话"
                       value="{{ pro.mobile }}">
            </div>
        </div>

        <div class="form-group">
            <label for="pro_address" class="col-md-2 col-sm-2 control-label">项目地址：</label>
            <div class="col-md-5 col-sm-10">
                <input type="text" class="form-control" id="pro_address" name="pro_address" placeholder="项目地址"
                       value="{{ pro.pro_address }}">
            </div>
        </div>

        <div class="form-group">
            <label for="sign_date" class="col-md-2 col-sm-2 control-label">签订日期：</label>
            <div class="col-md-5 col-sm-10">
                <input type="date" class="form-control" id="sign_date" name="sign_date"
                       placeholder="签订日期，格式：2017-04-01" value="{{ pro.sign_date|date:"Y-m-d" }}">
            </div>
        </div>

        <div class="form-group">
            <label for="start_date" class="col-md-2 col-sm-2 control-label">开工日期：</label>
            <div class="col-md-5 col-sm-10">
                <input type="date" class="form-control" id="start_date" name="start_date"
                       placeholder="开工时间，格式：2017-04-01" value="{{ pro.start_date|date:"Y-m-d" }}">
            </div>
        </div>

        <div class="form-group">
            <label for="finish_date" class="col-md-2 col-sm-2 control-label">完工日期：</label>
            <div class="col-md-5 col-sm-10">
                <input type="date" class="form-control" id="finish_date" name="finish_date"
                       placeholder="完工时间，格式：2017-04-01" value="{{ pro.finish_date|date:"Y-m-d" }}">
            </div>
        </div>
        {##}
        {#        <div class="form-group">#}
        {#            <label for="pro_name" class="col-md-2 col-sm-2 control-label">检测设备：</label>#}
        {#            <div class="col-md-5 col-sm-10">#}
        {#                <input type="text" class="form-control" id="pro_name" name="pro_name" placeholder="检测设备">#}
        {#            </div>#}
        {#        </div>#}

        <div class="form-group">
            <label for="ht_scan" class="col-md-2 col-sm-2 control-label">上传合同扫描件：</label>
            <div class="col-md-5 col-sm-10">
                <input type="file" id="ht_scan" name="ht_scan">
                <p class="help-block">
                    {% if pro.ht_scan %}
                        已上传，<a style="display: inline" href="{{ MEDIA_URL }}{{ pro.ht_scan }}" target="_blank">点此查看</a>
                        或重新上传
                    {% else %}
                        未上传合同扫描件
                    {% endif %}
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="remark" class="col-md-2 col-sm-2 control-label">备注：</label>
            <div class="col-md-5 col-sm-10">
                <input type="text" class="form-control" id="remark" name="remark" placeholder="备注"
                       value="{{ pro.remark }}">
            </div>
        </div>

        <button style="margin-bottom: 100px" type="submit" class="btn btn-primary col-md-7 col-sm-12 col-xs-12">修改
        </button>
        {% csrf_token %}
    </form>
{% endblock %}


{% block js %}
    <script>
        $('.add-member').click(function () {
            $.ajax({
                cache: false,
                url: '{% url "pro:add_member" %}',
                type: 'POST',
                async: true,
                dataType: 'json',
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                data: $('#add_member').serializeArray(),
                success: function (data) {
                    if (data.status === 'success' && data.msg === '添加工程项目成员操作成功') {
                        {#强制刷新页面#}
                        location.reload()
                    }
                    $('#msg').text(data.msg)
                    setTimeout(function () {
                        $('#msg').text('')
                    }, 10000)
                },
                error: function () {
                    $('#msg').text('出错了')
                }
            })
        })

        $('.delete-member').click(function () {
            var pro_member_id = $(this).attr('data-value')
            $.ajax({
                cache: false,
                url: '{% url "pro:delete_member" %}',
                type: 'POST',
                async: true,
                dataType: 'json',
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                data: {'pro_member_id': pro_member_id},
                success: function (data) {
                    if (data.status === 'success') {
                        {#强制刷新页面#}
                        location.reload()
                    }
                    $('#msg').text(data.msg)
                    setTimeout(function () {
                        $('#msg').text('')
                    }, 10000)
                },
                error: function () {
                    $('#msg').text('出错了')
                }
            })
        })


        $('.add-equ').click(function () {
            $.ajax({
                cache: false,
                url: '{% url "pro:add_equ" %}',
                type: 'POST',
                async: true,
                dataType: 'json',
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                data: $('#add_equ').serializeArray(),
                success: function (data) {
                    if (data.status === 'success' && data.msg === '添加工程设备操作成功') {
                        {#强制刷新页面#}
                        location.reload()
                    }
                    $('#msg').text(data.msg)
                    setTimeout(function () {
                        $('#msg').text('')
                    }, 10000)
                },
                error: function () {
                    $('#msg').text('出错了')
                }
            })
        })

        $('.delete-equ').click(function () {
            var pro_equ_id = $(this).attr('data-value')
            $.ajax({
                cache: false,
                url: '{% url "pro:delete_equ" %}',
                type: 'POST',
                async: true,
                dataType: 'json',
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                data: {'pro_equ_id': pro_equ_id},
                success: function (data) {
                    if (data.status === 'success') {
                        {#强制刷新页面#}
                        location.reload()
                    }
                    $('#msg').text(data.msg)
                    setTimeout(function () {
                        $('#msg').text('')
                    }, 10000)
                },
                error: function () {
                    $('#msg').text('出错了')
                }
            })
        })
    </script>
{% endblock %}
