{% extends 'main.html' %}

{% block title %}浏览工程{% endblock %}

{% block style %}
    {#    <style>#}
    {#        table {#}
    {#            margin-top: 40px;#}
    {#        }#}
    {#    </style>#}
{% endblock %}

{% block content %}

    {#    <div class="handle">#}
    {#        <div class="filter">#}
    {#            筛选：#}
    {#            <select>#}
    {#                <option value="">时间</option>#}
    {#                <option value="">金额</option>#}
    {#                <option value="">负责人</option>#}
    {#                <option value="">委托单位</option>#}
    {#                <option value="">工程类型</option>#}
    {#            </select>#}
    {#            <input type="text" name="" value="">#}
    {#            <button type="button">确定</button>#}
    {#        </div>#}
    {#        <div class="sort">#}
    {#            排序：#}
    {#            <select>#}
    {#                <option value="">时间</option>#}
    {#                <option value="">金额</option>#}
    {#            </select>#}
    {#            <select name="" id="">#}
    {#                <option value="">从高到底</option>#}
    {#                <option value="">从底到高</option>#}
    {#            </select>#}
    {#            <button type="button">确定</button>#}
    {#        </div>#}
    {#    </div>#}


    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>#</th>
                <th>工程名称</th>
                <th>负责人</th>
                <th>工程类型</th>
                <th>项目阶段</th>
                <th>签订日期</th>
                <th>合同金额</th>
                <th>委托单位</th>
                <th>工程合同</th>
                <th>详细信息</th>
                <th colspan="2">操作</th>
            </tr>
            {% for pro in pros %}
                <tr id="{{ pro.id }}">
                    <td>{{ pro.id }}</td>
                    <td>{{ pro.pro_name }}</td>
                    <td>
                        {% if pro.get_pro_person %}
                            {{ pro.get_pro_person.name }}
                        {% else %}
                            未填写
                        {% endif %}
{#                        {{ pro.get_person.person.name }}#}
                    </td>
                    <td>
                        {% if pro.pro_type.name %}
                            {{ pro.pro_type.name }}
                        {% else %}
                            未填写
                        {% endif %}
                    </td>
                    <td>
                        {% if pro.pro_stage.name %}
                            {{ pro.pro_stage.name }}
                        {% else %}
                            未填写
                        {% endif %}
                    </td>
                    <td>
                        {% if pro.sign_date %}
                            {{ pro.sign_date }}
                        {% else %}
                            未填写
                        {% endif %}
                    </td>
                    <td>
                        {% if pro.ht_money %}
                            {{ pro.ht_money }}
                        {% else %}
                            未填写
                        {% endif %}
                    </td>
                    <td>
                        {% if pro.wt_dw %}
                            {{ pro.wt_dw }}
                        {% else %}
                            未填写
                        {% endif %}
                    </td>
                    <td>
                        {% if pro.ht_scan %}
                            <a href="{{ MEDIA_URL }}{{ pro.ht_scan }}" target="_blank">查看</a>
                        {% else %}
                            未上传
                        {% endif %}
                    </td>
                    <td><a href="{% url 'pro:detail' pro.id %}">查看</a></td>
                    <td><a href="{% url 'pro:edit' pro.id %}">修改</a></td>
                    <td><a data-value="{{ pro.id }}" href="javascript:void(0);" class="delete_pro">删除</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}


{% block js %}
    <script>
        $('.delete_pro').click(function (e) {
            var pro_id = $(this).attr('data-value')
            $.ajax({
                cache: false,
                url: '{% url "pro:delete" %}',
                type: 'POST',
                async: true,
                dataType: 'json',
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                data: {'pro_id': pro_id},
                success: function (data) {
                    if (data.status === 'success') {
                        $('#' + pro_id).remove()
                    }
                    $('#msg').text(data.msg)
                    setTimeout(function () {
                        $('#msg').text('')
                    }, 10000)
                },
                error: function () {
                    $('#msg').text('出错了')
                }
            })
        })

    </script>
{% endblock %}
