{% extends 'main.html' %}

{% block title %}工程报告{% endblock %}

{% block style %}{% endblock %}

{% block content %}

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <form id="search" method="get" class="navbar-form navbar-left col-md-6 col-sm-6 col-xs-12"
                  style="border: none;">
                <div class="input-group">
                    <input type="text" id="keywords" name="keywords" class="form-control" placeholder="搜索工程报告">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">搜索</button>
                    </span>
                </div>
            </form>

            <form method="get" class="navbar-form navbar-left col-md-6 col-sm-6 col-xs-12" style="border: none;">
                <div class="input-group">
                    <select class="form-control" name="category" id="category">
                        <option value="report_id">工程报告ID</option>
                        <option value="add_time">添加时间</option>
                    </select>
                    <span class="input-group-btn">
                        <button name="mode" value="positive" class="btn btn-default" type="submit">正序</button>
                    </span>
                    <span class="input-group-btn">
                        <button name="mode" value="negative" class="btn btn-default" type="submit">倒序</button>
                    </span>
                </div>
            </form>
        </div>
    </nav>

    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>#</th>
                <th>标题</th>
                <th>相关工程</th>
                <th>编号</th>
                <th>编写人</th>
                <th>校核人</th>
                <th>审核人</th>
                <th>批准人</th>
                <th>报告文件</th>
                <th>详情</th>
            </tr>
            {% for report in reports %}
                <tr>
                    <td>{{ report.id }}</td>
                    <td>{{ report.title }}</td>
                    <td>{{ report.project.pro_name }}</td>
                    <td>
                        {% if report.number %}
                            {{ report.number }}
                        {% else %}
                            未填写
                        {% endif %}
                    </td>
                    <td>
                        {% if report.write_person %}
                            {{ report.write_person }}
                        {% else %}
                            未填写
                        {% endif %}
                    </td>
                    <td>
                        {% if report.check_person %}
                            {{ report.check_person }}
                        {% else %}
                            未填写
                        {% endif %}
                    </td>
                    <td>
                        {% if report.verify_person %}
                            {{ report.verify_person }}
                        {% else %}
                            未填写
                        {% endif %}
                    </td>
                    <td>
                        {% if report.authorize_person %}
                            {{ report.authorize_person }}
                        {% else %}
                            未填写
                        {% endif %}
                    </td>
                    <td>
                        {% if report.file %}
                            <a href="{{ MEDIA_URL }}{{ report.file }}" target="_blank">查看</a>
                        {% else %}
                            未上传
                        {% endif %}
                    </td>
                    <td><a href="{% url 'pro:report_detail' report.id %}">查看</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <a href="{% url 'pro:add_report' %}" role="button" class="btn btn-primary btn-block"
       style="margin-top: 50px; margin-bottom: 50px">添加工程报告</a>

    {#    <a href="javascript:history.go(-1);" role="button" class="btn btn-primary btn-block">返回</a>#}

{% endblock %}


{% block js %}
    <script>
        $('.delete_pro').click(function (e) {
            var pro_id = $(this).attr('data-value')
            $.ajax({
                cache: false,
                url: '{% url "pro:delete" %}',
                type: 'POST',
                async: true,
                dataType: 'json',
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                data: {'pro_id': pro_id},
                success: function (data) {
                    if (data.status === 'success' && data.msg === '删除工程已成功') {
                        $('#' + pro_id).remove()
                    }
                    $('#msg').text(data.msg)
                    setTimeout(function () {
                        $('#msg').text('')
                    }, 10000)
                },
                error: function () {
                    $('#msg').text('出错了')
                }
            })
        })

    </script>
{% endblock %}
