{% extends 'main.html' %}

{% block title %}编辑档案{% endblock %}

{% block style %}
    <style>
        #edit_staff {
            margin-bottom: 50px;
        }
    </style>
{% endblock %}

{% block content %}
    <form class="form-horizontal" method="post" enctype="multipart/form-data" id="edit_staff_form"
          action="{% url "user:edit_staff" %}">

        <input type="hidden" name="id" value="{{ staff.id }}">

        <div class="form-group">
            <label for="name" class="col-md-2 col-sm-2 control-label">职工姓名：</label>
            <div class="col-md-5 col-sm-10">
                <input type="text" class="form-control" id="name" name="name" placeholder="职工姓名"
                       value="{{ staff.name }}" disabled>
            </div>
        </div>

        <div class="form-group">
            <label for="induction_time" class="col-md-2 col-sm-2 control-label">入职时间：</label>
            <div class="col-md-5 col-sm-10">
                <input type="text" class="form-control" id="induction_time" name="induction_time" placeholder="入职时间，格式：YYYY-mm-dd"
                       value="{{ staff.induction_time }}" disabled>
            </div>
        </div>

        <div class="form-group">
            <label for="job" class="col-md-2 col-sm-2 control-label">职务：</label>
            <div class="col-md-5 col-sm-10">
                <input type="text" class="form-control" id="job" name="job" placeholder="职务" value="{{ staff.job }}"
                       disabled>
            </div>
        </div>

        <div class="form-group">
            <label for="department" class="col-md-2 col-sm-2 control-label">所属部门：</label>
            <div class="col-md-5 col-sm-10">
                <select class="form-control" id="department" name="department" disabled>
                    {% for department in departments %}
                        <option value="{{ department.name }}"
                                {% ifequal request.user.department department %}selected{% endifequal %}>
                            {{ department.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="mobile" class="col-md-2 col-sm-2 control-label">手机号码：</label>
            <div class="col-md-5 col-sm-10">
                <input type="text" class="form-control" id="mobile" name="mobile" placeholder="手机号码"
                       value="{% if staff.mobile %}{{ staff.mobile }}{% endif %}">
            </div>
        </div>

        <div class="form-group">
            <label for="email" class="col-md-2 col-sm-2 control-label">邮箱地址：</label>
            <div class="col-md-5 col-sm-10">
                <input type="text" class="form-control" id="email" name="email" placeholder="邮箱地址"
                       value="{% if staff.email %}{{ staff.email }}{% endif %}">
            </div>
        </div>

        <div class="form-group">
            <label for="office_phone" class="col-md-2 col-sm-2 control-label">办公电话：</label>
            <div class="col-md-5 col-sm-10">
                <input type="text" class="form-control" id="office_phone" name="office_phone" placeholder="办公电话"
                       value="{% if staff.office_phone %}{{ staff.office_phone }}{% endif %}">
            </div>
        </div>

        <div class="form-group">
            <label for="home_address" class="col-md-2 col-sm-2 control-label">家庭住址：</label>
            <div class="col-md-5 col-sm-10">
                <input type="text" class="form-control" id="home_address" name="home_address" placeholder="家庭住址"
                       value="{% if staff.home_address %}{{ staff.home_address }}{% endif %}">
            </div>
        </div>

        <div class="form-group">
            <label for="home_phone" class="col-md-2 col-sm-2 control-label">家庭电话：</label>
            <div class="col-md-5 col-sm-10">
                <input type="text" class="form-control" id="home_phone" name="home_phone" placeholder="家庭电话"
                       value="{% if staff.home_phone %}{{ staff.home_phone }}{% endif %}">
            </div>
        </div>

        <div class="form-group">
            <label for="xueli" class="col-md-2 col-sm-2 control-label">学历：</label>
            <div class="col-md-5 col-sm-10">
                <input type="text" class="form-control" id="xueli" name="xueli" placeholder="学历"
                       value="{% if staff.xueli %}{{ staff.xueli }}{% endif %}">
            </div>
        </div>

        <div class="form-group">
            <label for="zhicheng" class="col-md-2 col-sm-2 control-label">职称：</label>
            <div class="col-md-5 col-sm-10">
                <input type="text" class="form-control" id="zhicheng" name="zhicheng" placeholder="多个职称可用逗号隔开"
                       value="{% if staff.zhicheng %}{{ staff.zhicheng }}{% endif %}">
            </div>
        </div>

        <div class="form-group">
            <label for="zige" class="col-md-2 col-sm-2 control-label">资格：</label>
            <div class="col-md-5 col-sm-10">
                <input type="text" class="form-control" id="zige" name="zige" placeholder="多个资格可用逗号隔开"
                       value="{% if staff.zige %}{{ staff.zige }}{% endif %}">
            </div>
        </div>

        <div class="form-group">
            <label for="image" class="col-md-2 col-sm-2 control-label">上传照片：</label>
            <div class="col-md-5 col-sm-10">
                <input type="file" id="image" name="image">
                <p class="help-block">
                    {% if staff.image %}
                        已有照片，选择可重新上传
                    {% endif %}
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="xuelizs" class="col-md-2 col-sm-2 control-label">上传学历证书：</label>
            <div class="col-md-5 col-sm-10">
                <input type="file" id="xuelizs" name="xuelizs">
                <p class="help-block">
                    {% if staff.xuelizs %}
                        已有学历证书，选择可重新上传
                    {% endif %}
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="zhichengzs" class="col-md-2 col-sm-2 control-label">上传职称证书：</label>
            <div class="col-md-5 col-sm-10">
                <input type="file" id="zhichengzs" name="zhichengzs">
                <p class="help-block">
                    {% if staff.zhichengzs %}
                        已有职称证书，选择可重新上传
                    {% endif %}
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="zigezs" class="col-md-2 col-sm-2 control-label">上传资格证书：</label>
            <div class="col-md-5 col-sm-10">
                <input type="file" id="zigezs" name="zigezs">
                <p class="help-block">
                    {% if staff.zigezs %}
                        已有资格证书，选择可重新上传
                    {% endif %}
                </p>
            </div>
        </div>

        <button id="edit_staff" type="button" class="btn btn-primary col-md-7">完成</button>

    </form>
{% endblock %}

{% block js %}
    <script>
        $('#edit_staff').click(function () {
{#            console.log($('#edit_staff_form').serializeArray())#}
            $.ajax({
                cache: false,
                url: '{% url "user:edit_staff" %}',
                type: 'POST',
                {#                data: $('#edit_staff_form').serializeArray(),#}
                data: new FormData($('#edit_staff_form')[0]),
                processData: false,
                contentType: false,
                async: true,
                dataType: 'json',
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function (data) {
                    if (data.status === 'success') {
                        console.log(data)
                        $('#msg').text(data.msg)
                    }
                    $('#msg').text(data.msg)
                    setTimeout(function () {
                        $('#msg').text('')
                    }, 2000)
                },
                error: function () {
                    $('#msg').text('出错了')
                }
            })
        })
    </script>
{% endblock %}
