{% extends 'main.html' %}

{% block title %}浏览工程{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
    {#    <div class="handle">#}
    {#        <div class="filter">#}
    {#            筛选：#}
    {#            <select>#}
    {#                <option value="">姓名</option>#}
    {#                <option value="">部门</option>#}
    {#                <option value="">职务</option>#}
    {#            </select>#}
    {#            <input type="text" name="" value="">#}
    {#            <button type="button">确定</button>#}
    {#        </div>#}
    {#        <div class="sort">#}
    {#            排序：#}
    {#            <select>#}
    {#                <option value="">部门</option>#}
    {#                <option value="">职务</option>#}
    {#            </select>#}
    {#            <select name="" id="">#}
    {#                <option value="">从高到底</option>#}
    {#                <option value="">从底到高</option>#}
    {#            </select>#}
    {#            <button type="button">确定</button>#}
    {#        </div>#}
    {#    </div>#}



    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>姓名</th>
                <th>部门</th>
                <th>职务</th>
                <th>负责项目</th>
                <th>出勤记录</th>
                <th colspan="2">学历（证书）</th>
                <th colspan="2">职称（证书）</th>
                <th colspan="2">资格（证书）</th>
            </tr>
            </thead>
            <tbody>
            {% for staff in staffs %}
                <tr>
                    <td>{{ staff.id }}</td>
                    <td>{{ staff.name }}</td>
                    <td>{{ staff.department.name }}</td>
                    <td>{{ staff.job }}</td>
                    <td>待完善</td>
                    <td>待完善</td>
                    <td>
                        {% if staff.xueli %}
                            {{ staff.xueli }}
                        {% else %}
                            未填写
                        {% endif %}
                    </td>
                    <td>
                        {% if staff.xuelizs %}
                            <a href="{{ MEDIA_URL }}{{ staff.xuelizs }}">下载</a>
                        {% else %}
                            未上传
                        {% endif %}
                    </td>
                    <td>
                        {% if staff.zhicheng %}
                            {{ staff.zhicheng }}
                        {% else %}
                            未填写
                        {% endif %}
                    </td>
                    <td>
                        {% if staff.zhichengzs %}
                            <a href="{{ MEDIA_URL }}{{ staff.zhichengzs }}">下载</a>
                        {% else %}
                            未上传
                        {% endif %}
                    </td>
                    <td>
                        {% if staff.zige %}
                            {{ staff.zige }}
                        {% else %}
                            未填写
                        {% endif %}
                    </td>
                    <td>
                        {% if staff.zigezs %}
                            <a href="{{ MEDIA_URL }}{{ staff.zigezs }}">下载</a>
                        {% else %}
                            未上传
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
