{% extends 'main.html' %}

{% block title %}浏览工程{% endblock %}

{% block style %}
{% endblock %}

{% block content %}

    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <form id="search" method="get" class="navbar-form navbar-left col-md-6 col-sm-6 col-xs-12"
                  style="border: none;">
                <div class="input-group">
                    <input type="text" id="keywords" name="keywords" class="form-control" placeholder="搜索职工信息">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">搜索</button>
                    </span>
                </div>
            </form>

            <form method="get" class="navbar-form navbar-left col-md-6 col-sm-6 col-xs-12" style="border: none;">
                <div class="input-group">
                    <select class="form-control" name="category" id="category">
                        <option value="staff_id">职工ID</option>
                        <option value="number">人员编号</option>
                        <option value="sex">性别</option>
                        <option value="induction_time">入职时间</option>
                        <option value="add_time">添加时间</option>
                    </select>
                    <span class="input-group-btn">
                        <button name="mode" value="positive" class="btn btn-default" type="submit">正序</button>
                    </span>
                    <span class="input-group-btn">
                        <button name="mode" value="negative" class="btn btn-default" type="submit">倒序</button>
                    </span>
                </div>
            </form>
        </div>
    </nav>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>姓名</th>
                <th>性别</th>
                <th>部门</th>
                <th>职务</th>
                <th>负责项目</th>
                <th>出勤记录</th>
                <th colspan="2">学历（证书）</th>
                <th colspan="2">职称（证书）</th>
                <th colspan="2">资格（证书）</th>
            </tr>
            </thead>
            <tbody>
            {% for staff in staffs %}
                <tr>
                    <td>{{ staff.id }}</td>
                    <td>{{ staff.name }}</td>
                    <td>{{ staff.get_sex_display }}</td>
                    <td>{{ staff.department.name }}</td>
                    <td>{{ staff.job }}</td>
                    <td>待完善</td>
                    <td>待完善</td>
                    <td>
                        {% if staff.xueli %}
                            {{ staff.xueli }}
                        {% else %}
                            未填写
                        {% endif %}
                    </td>
                    <td>
                        {% if staff.xuelizs %}
                            <a href="{{ MEDIA_URL }}{{ staff.xuelizs }}">下载</a>
                        {% else %}
                            未上传
                        {% endif %}
                    </td>
                    <td>
                        {% if staff.zhicheng %}
                            {{ staff.zhicheng }}
                        {% else %}
                            未填写
                        {% endif %}
                    </td>
                    <td>
                        {% if staff.zhichengzs %}
                            <a href="{{ MEDIA_URL }}{{ staff.zhichengzs }}">下载</a>
                        {% else %}
                            未上传
                        {% endif %}
                    </td>
                    <td>
                        {% if staff.zige %}
                            {{ staff.zige }}
                        {% else %}
                            未填写
                        {% endif %}
                    </td>
                    <td>
                        {% if staff.zigezs %}
                            <a href="{{ MEDIA_URL }}{{ staff.zigezs }}">下载</a>
                        {% else %}
                            未上传
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
