{% extends 'main.html' %}

{% block title %}人员权限管理{% endblock %}

{% block style %}
    <style>
        .current-perm:after {
            content: '*';
            color: #f00;
            position: relative;
            right: 10px;
        }
    </style>
{% endblock %}

{% block content %}

    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <form id="search" method="get" class="navbar-form navbar-left col-md-6 col-sm-6 col-xs-12"
                  style="border: none;">
                <div class="input-group">
                    <input type="text" id="keywords" name="keywords" class="form-control" placeholder="搜索职工信息">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">搜索</button>
                    </span>
                </div>
            </form>

            <form method="get" class="navbar-form navbar-left col-md-6 col-sm-6 col-xs-12" style="border: none;">
                <div class="input-group">
                    <select class="form-control" name="category" id="category">
                        <option value="staff_id">职工ID</option>
                        <option value="department_name">部门</option>
                        <option value="job">职务</option>
                        <option value="permission">系统权限</option>
                        <option value="add_time">添加时间</option>
                    </select>
                    <span class="input-group-btn">
                        <button name="mode" value="positive" class="btn btn-default" type="submit">正序</button>
                    </span>
                    <span class="input-group-btn">
                        <button name="mode" value="negative" class="btn btn-default" type="submit">倒序</button>
                    </span>
                </div>
            </form>

        </div>
    </nav>

    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>#</th>
                <th>姓名</th>
                <th>部门</th>
                <th>职务</th>
                <th>登录名</th>
                <th>检测员</th>
                <th>部门负责</th>
                <th>公司负责</th>
                <th>系统管理员</th>
                <th>操作</th>
            </tr>
            {% for staff in staffs %}
                <form action="">
                    <tr class="perm_tr">
                        <td>{{ staff.id }}</td>
                        <td>{{ staff.name }}</td>
                        <td>{{ staff.department.name }}</td>
                        <td>{{ staff.job }}</td>
                        <td>{{ staff.username }}</td>
                        <td><input type="radio" name="permission" value="检测员"
                                   {% ifequal staff.permission '检测员' %}checked
                                   class="current-perm"{% endifequal %}></td>
                        <td><input type="radio" name="permission" value="部门负责"
                                   {% ifequal staff.permission '部门负责' %}checked
                                   class="current-perm"{% endifequal %}></td>
                        <td><input type="radio" name="permission" value="公司负责"
                                   {% ifequal staff.permission '公司负责' %}checked
                                   class="current-perm"{% endifequal %}></td>
                        <td><input type="radio" name="permission" value="系统管理员"
                                   {% ifequal staff.permission '系统管理员' %}checked
                                   class="current-perm"{% endifequal %}></td>
                        <td>
                            <button value="{{ staff.id }}" class="change_permission btn btn-default" type="button">应用
                            </button>
                        </td>
                    </tr>
                </form>
            {% endfor %}
        </table>
    </div>
{% endblock %}


{% block js %}
    <script>
        $('.change_permission').click(function () {

            var data = {}
            data.id = $(this).val()
            var permission = ''
            var inputRadio = $(this).parents('.perm_tr').children().children('input[type=radio]')
            for (var i = 0, l = inputRadio.length; i < l; i++) {
                if (inputRadio[i].checked === true) {
                    permission = inputRadio[i].value
                }
            }
            data.permission = permission

            $.ajax({
                cache: false,
                url: '{% url "user:permission" %}',
                type: 'POST',
                async: true,
                dataType: 'json',
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                data: data,
                success: function (data) {
                    if (data.status === 'success') {
{#修改 class ，只让让当前权限为 'current-perm'#}
                        for (var i = 0, l = inputRadio.length; i < l; i++) {
                            if (inputRadio[i].value === permission) {
                                inputRadio[i].className = 'current-perm'
                            } else {
                                inputRadio[i].className = ''
                            }
                        }
                    }
                    $('#msg').text(data.msg)
                    setTimeout(function () {
                        $('#msg').text('')
                    }, 10000)
                },
                error: function () {
                    $('#msg').text('出错了')
                }
            })
        })

    </script>
{% endblock %}

