{% extends 'main.html' %}

{% block title %}人员权限管理{% endblock %}

{% block style %}
    <style>
        .current-perm:after {
            content: '*';
            color: #f00;
            position: relative;
            right: 10px;
        }
    </style>
{% endblock %}

{% block content %}
    {#    <h2>系统使用权限设置</h2>#}
    {##}
    {#    <div class="handle">#}
    {#        <div class="filter">#}
    {#            筛选：#}
    {#            <select>#}
    {#                <option value="">姓名</option>#}
    {#                <option value="">部门</option>#}
    {#                <option value="">职务</option>#}
    {#            </select>#}
    {#            <input type="text" name="" value="">#}
    {#            <button type="button">确定</button>#}
    {#        </div>#}
    {#        <div class="sort">#}
    {#            排序：#}
    {#            <select>#}
    {#                <option value="">姓名</option>#}
    {#                <option value="">部门</option>#}
    {#                <option value="">职务</option>#}
    {#            </select>#}
    {#            <select name="" id="">#}
    {#                <option value="">从高到底</option>#}
    {#                <option value="">从底到高</option>#}
    {#            </select>#}
    {#            <button type="button">确定</button>#}
    {#        </div>#}
    {#    </div>#}


    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>#</th>
                <th>姓名</th>
                <th>部门</th>
                <th>职务</th>
                <th>登录名</th>
                <th>普通员工</th>
                <th>部门主任</th>
                <th>公司领导</th>
                <th>系统管理员</th>
                <th>操作</th>
            </tr>
            {% for staff in all_staffs %}
                <form action="">
                    <tr class="perm_tr">
                        <td>{{ staff.id }}</td>
                        <td>{{ staff.name }}</td>
                        <td>{{ staff.department.name }}</td>
                        <td>{{ staff.job }}</td>
                        <td>{{ staff.username }}</td>
                        <td><input type="radio" name="permission" value="0" {% ifequal staff.permission '0' %}checked
                                   class="current-perm"{% endifequal %}></td>
                        <td><input type="radio" name="permission" value="1" {% ifequal staff.permission '1' %}checked
                                   class="current-perm"{% endifequal %}></td>
                        <td><input type="radio" name="permission" value="2" {% ifequal staff.permission '2' %}checked
                                   class="current-perm"{% endifequal %}></td>
                        <td><input type="radio" name="permission" value="3" {% ifequal staff.permission '3' %}checked
                                   class="current-perm"{% endifequal %}></td>
                        <td>
                            <button value="{{ staff.id }}" class="change_permission btn btn-default" type="button">应用</button>
                        </td>
                    </tr>
                </form>
            {% endfor %}
        </table>
    </div>
{% endblock %}


{% block js %}
    <script>
        $('.change_permission').click(function () {
            var data = {}
            data.id = $(this).val()
            var permission = ''
            var inputRadio = $(this).parents('.perm_tr').children().children('input[type=radio]')
            for (var i = 0, l = inputRadio.length; i < l; i++) {
                if (inputRadio[i].checked === true) {
                    permission = inputRadio[i].value
                }
            }
            data.permission = permission

            $.ajax({
                cache: false,
                url: '{% url "user:permission" %}',
                type: 'POST',
                async: true,
                dataType: 'json',
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                data: data,
                success: function (data) {
                    if (data.status === 'success') {
                        // 修改 class ，只让让当前权限为 'current-perm'
                        for (var i = 0, l = inputRadio.length; i < l; i++) {
                            if (inputRadio[i].value === permission) {
                                inputRadio[i].className = 'current-perm'
                            } else {
                                inputRadio[i].className = ''
                            }
                        }
                    }
                    $('#msg').text(data.msg)
                    setTimeout(function () {
                        $('#msg').text('')
                    }, 10000)
                },
                error: function () {
                    $('#msg').text('出错了')
                }
            })
        })

    </script>
{% endblock %}

