{% extends 'main.html' %}

{% block title %}员工信息管理{% endblock %}

{% block style %}
{% endblock %}

{% block content %}

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <form id="search" method="get" class="navbar-form navbar-left col-md-4 col-sm-5 col-xs-5"
                  style="border: none;">
                <div class="input-group">
                    <input type="text" id="keywords" name="keywords" class="form-control" placeholder="搜索职工信息">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">搜索</button>
                    </span>
                </div>
            </form>

            <form method="get" class="navbar-form navbar-left col-md-6 col-sm-6 col-xs-7" style="border: none;">
                <div class="input-group">
                    <select class="form-control" name="category" id="category">
                        <option value="staff_id">职工ID</option>
                        <option value="number">人员编号</option>
                        <option value="sex">性别</option>
                        <option value="induction_time">入职时间</option>
                        <option value="add_time">添加时间</option>
                    </select>
                    <span class="input-group-btn">
                        <button name="mode" value="positive" class="btn btn-default" type="submit">正序</button>
                    </span>
                    <span class="input-group-btn">
                        <button name="mode" value="negative" class="btn btn-default" type="submit">倒序</button>
                    </span>
                </div>
            </form>
        </div>
    </nav>

    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>#</th>
                <th>姓名</th>
                <th>性别</th>
                <th>部门</th>
                <th>职务</th>
                <th>登录名</th>
                <th>系统权限</th>
                <th colspan="2">操作</th>
            </tr>

            {% for staff in staffs %}
                <tr id="{{ staff.id }}">
                    <td>{{ staff.id }}</td>
                    <td>{{ staff.name }}</td>
                    <td>{{ staff.sex }}</td>
                    <td>{{ staff.department }}</td>
                    <td>{{ staff.job }}</td>
                    <td class="username">{{ staff.username }}</td>
                    <td>{{ staff.get_permission_display }}</td>
                    <td>
                        <a href="{% url 'user:edit' staff.id %}">编辑</a>
                    </td>
                    <td>
                        <form id="{{ staff.id }}" action="">
                            <input type="hidden" name="staff_id" value="{{ staff.id }}">
                        </form>
                        <a href="javascript:void(0);" data-value="{{ staff.id }}" class="delete_staff">删除</a>
                    </td>
                </tr>
            {% endfor %}

        </table>
    </div>

    <a role="button" class="btn btn-primary center-block" href="{% url 'user:add_staff' %}">添加新员工</a>

{% endblock %}


{% block js %}
    <script>
        $('.delete_staff').click(function (e) {
            var staff_id = $(this).attr('data-value')
            $.ajax({
                cache: false,
                url: '{% url "user:delete_staff" %}',
                type: 'POST',
                async: true,
                dataType: 'json',
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                data: {'staff_id': staff_id},
                success: function (data) {
                    if (data.status === 'success') {
                        $('#' + staff_id).remove()
                    }
                    $('#msg').text(data.msg)
                    setTimeout(function () {
                        $('#msg').text('')
                    }, 10000)
                },
                error: function () {
                    $('#msg').text('出错了')
                }
            })
        })
    </script>
{% endblock %}

